/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-size: 22px;
}
.container {
    width: 80%;
    margin: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
button {
    padding: 15px;
    border-radius: 25px;
    border: none;
}
.float-left {
    float: left;
}

/* Intestazione */
header {
    background-color: rgba(37,94,233,255);
    height: 95px;
    line-height: 95px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
header *:not(.login button) {
    color: white;
}
.logo-img {
    width: 25%;
}
.logo-img img {
    vertical-align: middle;
}
.main-nav {
    width: 50%;
    text-align: center;
    list-style: none;
}
.main-nav li {
    display: inline-block;
    margin: 0 15px;
}
.main-nav li a {
    text-decoration: none;    
}
.login {
    width: 25%;
    text-align: right;
}
.login button {
    line-height: normal;
}
.logo-img, .main-nav ul, .login button {
    vertical-align: middle;
}

/* corpo */
.hero {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover; 
    position: relative;
}
.hero-content {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.hero-content h1 {
    margin-bottom: 25px;
    font-size: 50px;
}
.hero-content p {
    margin-bottom: 20px;
}
.hero-buttons .browser {
    margin-left: 20px;
    background-color: rgb(35, 39, 42);
    color: white;
}
.central-section .container {
    height: 900px;
}
.central-section .section-image, 
.central-section .section-caption {
    width: 50%;
}
.central-section .section-image .image {
    height: 500px;
    margin-top: 150px;
}
.central-section .section-caption .caption {
    width: 500px;
    margin-top: 180px;
    padding-left: 100px;
}
.caption h2 {
    font-size: 45px;
    margin-bottom: 20px;
}
.central-section.pink {
    background-color: rgba(246,246,246,255);
}




