/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
button {
    padding: 15px;
    border-radius: 25px;
    border: none;
}

/* Intestazione */
header {
    background-color: rgb(49, 97, 224);
    padding: 20px 0;
}
header *:not(.login button) {
    color: white;
}
header .container .float-left {
    float: left;
}
.logo-img {
    width: 25%;
}
.main-nav {
    width: 50%;
    text-align: center;
    list-style: none;
}
.main-nav li {
    display: inline-block;
    margin: 0 15px;
}
.main-nav li a {
    text-decoration: none;    
}
.login {
    width: 25%;
    text-align: right;
}

/* corpo */
.hero {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover; 
    position: relative;
}
.hero-content {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.hero-content h1 {
    margin-bottom: 25px;
}
.hero-content p {
    margin-bottom: 20px;
}
.hero-buttons .browser {
    margin-left: 20px;
    background-color: rgb(35, 39, 42);
    color: white;
}


